@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.card-header {
  width: 100%;
  display: block;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.card-img-top {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: calc(-48px - 5px);
  background-color: white;
}

.card-title {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.card-title span {
  color: var(--dark-gray);
  font-weight: 400;
}

.card-body-text {
  color: var(--dark-gray);
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card-footer-social {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-footer-social p {
  letter-spacing: 1px;
}

.fa-rocket{
  color: green;
}

.fa-star{
  color: #edff21;
}

.fa-shield{
  color: red;
}

body::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: block;  /* Ocultar scroll */
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #003057;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #003057;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}